body{
    margin: 0%;
    padding: 0%;
    font-family: calibri,Arial, Helvetica, sans-serif;
    user-select: none;
    scrollbar-width: none;
    
}

nav{

    width: 100%;
    height: 45px;
    background-color: rgb(192, 151, 142);
    display: flex;
    align-items: center;
}

span{
    font-size: 20px;
    margin: 16px;
}
.color-body{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    row-gap: 0%;
    
}

.color-page1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width:20%;
    height: 139px;
}

.color-text{
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0 7px 4px 0;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}


a{
    text-decoration: none;
    color: #000;
    position: relative;
}
a:active{
    color: #000;
}

.copy-logo{
    color: #ffffff00;
}

.copy-logo:hover{
    font-size: 25px;
    font-weight: 400;
    border: 2px solid rgba(255, 255, 255, 0.23);
    padding: 8px 30px;
    border-radius: 7px;
    color: white;
    cursor: pointer
    
}


@media only screen and (max-width:768px){

    .color-text{
        font-size: 1em;
    }

    .copy-logo{
        color: #ffffff00;
    }
    
    .copy-logo:hover{
        font-size: 0px;
        color: rgba(255, 255, 255, 0);

        
    }
   
    
}
    



@media only screen and (max-width:455px){
    
    nav{
        background-color: #dedddd;
    }

    .color-text{
        display: none;
    }

    nav span{
        font-size: 15px;
        margin: 0% 14px;
    }
    img{
        display: none;
    }

    .color-page1{
        width: 25%;
    }
}